<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>Welcome</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.web.servlets.Welcome</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Welcome</servlet-name>
		<url-pattern>/public/welcome</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.web.servlets.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/public/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.web.servlets.LogOut</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/private/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.web.servlets.Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/public/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NewAdvertisement</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.web.servlets.NewAdvertisement</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewAdvertisement</servlet-name>
		<url-pattern>/private/newAdvertisement</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Search</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.web.servlets.Search</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Search</servlet-name>
		<url-pattern>/public/search</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewAdvertisement</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.web.servlets.ViewAdvertisement</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewAdvertisement</servlet-name>
		<url-pattern>/public/viewAdvertisement</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MyProperties</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.web.servlets.MyProperties</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyProperties</servlet-name>
		<url-pattern>/private/myProperties</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ModifyStatus</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.web.servlets.ModifyStatus</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModifyStatus</servlet-name>
		<url-pattern>/private/modifyStatus</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserInfo</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.web.servlets.UserInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserInfo</servlet-name>
		<url-pattern>/public/userInfo</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EditInformation</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.web.servlets.EditInformation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditInformation</servlet-name>
		<url-pattern>/private/editInformation</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditPhotos</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.web.servlets.EditPhotos</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditPhotos</servlet-name>
		<url-pattern>/private/editPhotos</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeletePhotos</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.web.servlets.DeletePhotos</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeletePhotos</servlet-name>
		<url-pattern>/private/deletePhotos</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PhotoServer</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.web.servlets.PhotoServer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhotoServer</servlet-name>
		<url-pattern>/public/photoServer</url-pattern>
	</servlet-mapping>


	<filter>
		<filter-name>ExceptionFilter</filter-name>
		<filter-class>ar.edu.itba.it.paw.web.filters.ExceptionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ExceptionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>KeepMeLoggedFilter</filter-name>
		<filter-class>ar.edu.itba.it.paw.web.filters.KeepMeLoggedFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>KeepMeLoggedFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>RememberMeFilter</filter-name>
		<filter-class>ar.edu.itba.it.paw.web.filters.RememberMeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RememberMeFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>PrivatePagesFilter</filter-name>
		<filter-class>ar.edu.itba.it.paw.web.filters.PrivatePagesFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PrivatePagesFilter</filter-name>
		<url-pattern>/private/*</url-pattern>
	</filter-mapping>

</web-app>
